
.subjects{
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}

.mathSubject{
  font-size: 2.5vw;
  margin: 5px;
  width: 11vw;
  padding-right: 1px;
  padding-top: 2px;
  white-space: nowrap;
}
