.bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  padding: 5%;
  overflow: hidden;
}

.swiper-container {
  display: flex;
  width: 90%;
  height: 90%;
  background-color: #aaa;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  /* margin-left: -90vw; */
}

.swiper-slide {
  /* display: flex; */
  /* width: 100%; */
  height: 90%; 
  background-color: aqua;
  /* border: 2px solid black; */
  border-radius: 10px;
  cursor: pointer;
}

.swiper-word {
  width: 88vw;
  height: 88vw;
  background-color: #fff;
  margin: 1vw;
  line-height: 88vw;
  font-size: 50vw;
  text-align: center;
  border-radius: 1vw;
}