.bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  padding: 5%;
  overflow: hidden;
}

.swiper-container {
  display: flex;
  width: 90%;
  height: 90%;
  background-color: #aaa;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-wrapper {
  display: flex;
  /* display:inline; */
}

.swiper-slide {
  /* display: flex; */
  /* width: 100%; */
  width: 90vw;
  height: 100vw;
  background-color: aqua;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
  cursor: pointer;
  transform: scale(1);
}


.swiper-word {
  width: 88vw;
  height: 88vw;
  background-color: #fff;
  margin: 1vw;
  line-height: 88vw;
  font-size: 50vw;
  text-align: center;
  /* border-radius: 1vw; */
}


.btn-container {
  display: flex;
  justify-content:space-around;
}

.btn-play {
  background-color: aqua;
  width: 45vw;
  height: 10vw;
  text-align: center;
  font-size: 5vw;
  line-height: 10vw;
  border: 2px solid black; 
  cursor: pointer;
}

.turnLeft{
  animation-name: turnLeftAnimation;
  animation-duration: 1s;
  
}
.turnLeft2{
  animation-name: turnLeft2Animation;
  animation-duration: 1s;  
  width: 0;
}
.turnRight{
  animation-name: pageRightAnimation;
  animation-duration: 1s;
  
}
.turnRight2{
  animation-name: pageRight2Animation;
  animation-duration: 1s;
  width: 0;
}

@keyframes turnLeftAnimation {
  0% {
    transform: translate(88vw, 0) scale(0);;
  }
  100% {
    transform: translate(0, 0) scale(1);;
  }
}

@keyframes turnLeft2Animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-88vw, 0) scale(0);
  }
}


@keyframes pageRightAnimation {
  0% {
    transform: translate(-100vw, 0) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes pageRight2Animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(88vw, 0) scale(0);
  }
}