
.home-title {
  height: 5vh;
  line-height: 5vh;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5vh;
}

.menu{
  display: flex;
  width: 100%;
  background-color: #FFF;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100%;
}

.btn{
  background-color: aqua;
  color: #fff;
  width: 80%;
  margin: 20px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  font-size: large;
}
