html,
body {
  background: #FFF;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;
  font: 16px;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root{
  --bg-color: rgb(80, 80, 160);
  --title-height: 5vh;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.scroll-box{
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: var(--title-height);
}