.component-button{
  width: 8vw;
  height: 3vh;
  border: 1px solid #FFF;
  color: #FFF;
  margin: 1vh;
  border-radius: 5px;
  line-height: 3vh;
  text-align: center;
  cursor: pointer;
}

.component-button:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.component-button:active{
  transform :scale(0.95);
}
