
.component-title{
  height: var(--title-height);
  line-height: var(--title-height);
  width: 100%;
  color: #fff;
  background-color: var(--bg-color);
  display: inline-block;
  white-space: nowrap;
}

.component-backBtn{
  width: 8vw;
  height: 3vh;
  border: 1px solid #FFF;
  color: #FFF;
  margin: 1vh;
  position: absolute;
  border-radius: 5px;
  line-height: 3vh;
  text-align: center;
  cursor: pointer;
}

.component-txt{
  margin: auto;
  width: 200px;
  height: 100%;
  text-align: center;
}